.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    left: 102.5%;
    bottom: 20%;
    display: block;
    font-size: 12px;
    white-space: nowrap;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

.tooltip{
    background-color: #ff7f7f;
    position: relative;
}

.highlighted{
    background-color: #EBECF0;
}