.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 6px 10px;
    position: absolute;
    z-index: 3;
    left: 102.5%;
    bottom: 20%;
    display: block;
    font-size: 12px;
    width: 60px;
    overflow: visible;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

.tooltip{
    background-color: #ff7f7f !important;
    position: relative;
}

.highlighted{
    background-color: #BAD8AF;
}

.dropdown-btn{
    background-color: #787878;
    color: #fff;
    text-align: left;
    height: 40px;
    width: 100%;
    font-size: 11px;
    display: none;
    border: none;
    z-index: inherit;
    padding-left: 30px;
    padding-right: 12px;
    background-image: none;
    background-position: 0 0;
}

.selected-btn{
    background-image: url("../imgs/selected.png");
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 4px;
    background-size: 14px 14px;
}

.dropdown-btn:hover{
    background-color: #73A063;
}

.dropdown-container{
    width: 100%;
    display: table-cell;
    position: relative;
	padding-right: 10px;
}

.options{
    position: absolute;
    width: 100%;
    overflow: scroll;
    z-index: 1;
    border-radius: 6px;
}

.selected-input + .options{
    z-index: 2;
    max-height: 154px;
}

.dropdown-btn:focus{
    outline: none;
    box-shadow: none;
}

.dropdown-btn:active{
    background-color: rgb(207, 207, 207);
}

.weird-labels{
    display: table-cell;
	padding-right: 10px;
}

.macros{
    text-align: center;
	padding-left: -5px;
	padding-right: -5px;
}

.description{
    display: flex;
}

.searchable-input {
	width: 100%;
}

.amount-input {
	width: 90%;
	display: table-cell;
    position: relative;
}

input{box-sizing:border-box} 