* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.category-container-parent{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 12px 0;
}

.newname-input-container{
    border-right: 2px solid #515656;
    height: inherit;
    vertical-align: middle;
    display: table-cell;
    width: 375px;
    padding-left: 12px;
}

.icon-container{
    width: 50px;
    display: table-cell;
}

.upd-img{
    width: 110%;
    height: 80%;
    margin-left: -1px;
    margin-bottom: -2px;
}

.done-btn{
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #BDFFA4;
    border: 2px solid grey;
    border-radius: 4px;
    display: block;
}

.done-btn-container{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.done-btn:hover{
    background-color: #D9FFBF;
}

.done-btn:focus{
    outline: none;
    box-shadow: none;
}

.done-btn:disabled{
    background-color: #ccc;
}

.done-btn:active{
    background-color: #85CC6F;
}

emoji-picker{
    position: absolute;
    right: 75px;
    width: 300px;
    height: 300px;
}