<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Naujinti kategoriją</title>
        <link rel = "stylesheet" href = "../css/updcat.css">
        <link rel = "stylesheet" href = "../css/shared.css">
    </head>

    <body onload="onLoad();">
        <div class="category-container-parent">
            <label for="category-container-0" class="weird-labels"><b>Kategorija: &nbsp;</b></label>
            <div class="dropdown-container" id="category-container-0">
                <input id="category-dropdown-0" onfocus="onDropdownClick('category-dropdown-0')" oninput="dropdownFilter('category-dropdown-0')" size="20" onfocusout="onDropdownFocusOut('0', 'category')"
                placeholder="Ieškoti..." class="searchable-input">
                <div class="options" id="category-options-0">

                </div>
            </div>
        </div>

        <div class="newname-container-parent">
            <div class="newname-input-container">
                <label for="newname-input"><b>Naujas pavadinimas: &nbsp;</b></label>
                <input id="newname-input" oninput="doneCheck();" placeholder="Pavadinimas" disabled="true">
            </div>
        </div>

        <div class="done-btn-container">
            <button class="done-btn" id="ubtn" onclick="complete();" disabled="true">
                <img src="../imgs/checkmark_icon.png" class="upd-img">
            </button>
        </div>

        <script src="../scripts/updcat.js"></script>
        <script src="../scripts/helpers.js"></script>
    </body>
</html>